@font-face {
    -fx-font-family: 'Roboto', sans-serif;
    /*noinspection CssUnknownTarget*/
    src: url("file:/C:/fonts/Roboto/Roboto-Regular.ttf");
}

.toolbar-label {
    -fx-font-size: 18.0;
    -fx-font-weight: 500;
    -fx-font-family: 'Quicksand Medium';
}

.jfx-hamburger StackPane {
    -fx-pref-width: 19px;
    -fx-pref-height: 3px;
    -fx-background-color: #ffffff;
    -fx-background-radius: 0px;
}

.tab {
    -fx-pref-height: 45px;
}

.tab .tab-label {
    -fx-font-size: 14px;
    -fx-font-weight: 500;
    -fx-font-family: 'Quicksand Medium';
}

.jfx-tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #2196f3;
}

.jfx-tab-pane .tab-header-area .tab-selected-line {
    -fx-stroke: #EEFF41;
}

.jfx-list-cell {
    -fx-background-insets: 0.0;
    -fx-padding: 0.0;

}

.jfx-list-cell .jfx-rippler {
    -fx-rippler-fill: #9E9E9E;
}

.jfx-list-cell:hover {
    -fx-background-color: #E0E0E0;
}

.jfx-list-view {
    -fx-background-insets: 0;
    -fx-cell-vertical-margin: 10.0;
}


